<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/pyodide/v0.20.0/full/pyodide.js"></script>
</head>
<body>
    <p>hey</p>

    <script type="text/javascript">
        let pyodide = undefined;

        async function main() {
            pyodide = await loadPyodide();
            console.log('Pyodide finished loading');
        };
        main().then(() => { alert('Ready') });
    </script>
</body>
</html>